{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Confirm Your Booking</h2>
    
    <p><strong>Movie:</strong> {{ movie.title }}</p>
    <p><strong>Showtime:</strong> {{ showtime.datetime }}</p>
    <h5 class="card-title">Number of Seats Selected: {{ seat_count }}</h5>

    
    <h4>Total Price: ₹{{ total_price }}</h4>

    <form action="{% url 'checkout' %}" method="GET">
        <input type="hidden" name="category" value="movie">
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <input type="hidden" name="showtime_id" value="{{ showtime.id }}">
        <input type="hidden" name="seats" value="{{ seat_count }}">
        <button type="submit" class="btn btn-success">Proceed to Payment</button>
    </form>
</div>
{% endblock %}
